{% autoescape off %}
Hi {{ user.get_full_name|default:user.username }},

You (or someone else) requested a password reset for your account at Health Insurance Portal.

To reset your password, click the link below:

{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

If you didn’t request this, you can ignore this email. Your password won’t change unless you access the link above and create a new one.

Thanks,  
The Health Insurance Portal Team
{% endautoescape %}
