/* Login Form Styling */
.login-container{
	max-width: 400px;
	margin: 50px auto;
	padding: 30px;
	background-color: #ecf0f1;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	align: center;
}

.login-container h2{
	text-align: center;
	margin-bottom: 25px;
	color: #2c3e50;
}

.login-container label{
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
	color: #2c3e50;
}

.login-container input[type="text"],
.login-container input[type="password"]{
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #bdc3c7;
	border-radius: 5px;
}

.login-container button{
	width: 100%;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #1a252f;
}

.login-container .forgot-link {
    text-align: center;
    margin-top: 15px;
    display: block;
    color: #2980b9;
    text-decoration: none;
}

.login-container .forgot-link:hover {
    text-decoration: underline;
}

/* Forgot Password Styling */
.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ecf0f1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #2c3e50;
    font-weight: bold;
}

.form-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #2c3e50;
}

.form-container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #1a252f;
}

/* Forgot link */
.btn-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-link:hover {
    background-color: #1a252f;
}

/* Back Link */
.back-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.back-link:hover {
    background-color: #1a252f;
}